$bg: white;
$success: #03cea4;
$danger: #ff4242;
$info: #5a87fc;
$warning: #f89828;
$purple: #7772f1;
$primary: #ff3f3a;
$gray300: #e5e8ed;
$gray400: #d7dadd;
$gray600: #9a9ca5;
$gray700: #787a80;
$gray800: #424551;
$gray900: #1e212c;

* {
  margin: 0;
  padding: 0;
}

@mixin text-h6 {
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  color: $gray900;
}

.text {
  font-family: "Lato";
  &--regular {
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    color: $gray700;
  }

  &--h1 {
    font-weight: 900;
    font-size: 46px;
    line-height: 130%;
    color: $gray900;
  }

  &--h6 {
    @include text-h6;
  }

  &--bold {
    @include text-h6;
    font-size: 20px;
  }

  &--danger {
    color: $danger;
  }
}

.layout {
  padding-block: 50px 86px;
  overflow-x: clip;
  background: url("./assets/shapes.svg"), url("./assets/dots.png"),
    url("./assets/arrows.svg");
  background-repeat: no-repeat;
  background-position: 56px 687px, 100% 50px, calc(100% - 72px) 1104px;
}

.container {
  max-width: 70%;
  margin-inline: auto;
  display: flex;
  flex-direction: column;
  gap: 80px;
  align-items: center;
  @media (max-width: 1280px) {
    max-width: 100%;
    padding: 24px;
  }
}

.headings {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  text-align: center;
}

.topbar {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 24px;
  justify-content: space-between;
  @media (max-width: 768px) {
    flex-direction: column;
  }
}

.tabs {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
}

.tab {
  all: unset;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 20px;
  border: 1px solid transparent;
  cursor: pointer;
  user-select: none;

  &--active {
    border-radius: 4px;
    border-color: $primary;
  }

  &__text {
    @include text-h6;
    color: $gray600;

    &--active {
      color: $primary;
    }
  }
}

.search {
  width: clamp(130px, 100%, 315px);
  position: relative;
  &::before {
    content: "";
    position: absolute;
    width: 16px;
    height: 16px;
    top: 50%;
    right: 16px;
    transform: translateY(-50%);
    background: url("./assets/search.svg") no-repeat center;
  }
}

.search__input {
  width: 100%;
  padding: 12px 48px 12px 16px;
  border-radius: 4px;
  border: 1px solid $gray400;
  box-sizing: border-box;
  &::placeholder {
    font-size: 14px;
    color: $gray600;
  }
}

.cards_wrapper {
  width: 100%;
  display: flex;
  flex-direction: column-reverse;
}

.cards {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(
    auto-fill,
    minmax(clamp(160px, 100%, 390px), 1fr)
  );
  grid-template-rows: auto;
  gap: clamp(20px, 2vw, 30px);
}

.card {
  width: 100%;
  height: 438px;
  display: flex;
  flex-direction: column;
  justify-self: center;
  border-radius: 4px;
  border: 1px solid $gray300;
  box-shadow: 0px 30px 24px -10px #{$gray600 + "0d"};
  background-color: white;

  @media (max-width: 768px) {
    height: auto;
  }

  &__bg {
    height: 236px;
    background-position: center !important;
    background-repeat: no-repeat !important;
    &[data-picture="1"] {
      background: url("./assets/1.jpg") #ffcf2d;
    }
    &[data-picture="2"] {
      background: url("./assets/2.jpg") #ffcf2d;
    }
    &[data-picture="3"] {
      background: url("./assets/3.jpg") #ffcf2d;
    }
    &[data-picture="4"] {
      background: url("./assets/4.jpg") #ffcf2d;
    }
    &[data-picture="5"] {
      background: url("./assets/5.jpg") #ffcf2d;
    }
    &[data-picture="6"] {
      background: url("./assets/6.jpg") #ffcf2d;
    }
    &[data-picture="7"] {
      background: url("./assets/7.jpg") #ffcf2d;
    }
    &[data-picture="8"] {
      background: url("./assets/8.jpg") #ffcf2d;
    }
    &[data-picture="9"] {
      background: url("./assets/9.jpg") #ffcf2d;
    }
  }

  &__content {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 24px;
  }

  &__badge {
    width: fit-content;
    font-size: 14px;
    color: white;
    padding: 1px 8px;
    border-radius: 4px;

    &--green {
      background-color: $success;
    }
    &--red {
      background-color: $danger;
    }
    &--blue {
      background-color: $info;
    }
    &--orange {
      background-color: $warning;
    }
    &--purple {
      background-color: $purple;
    }
  }

  &__price {
    font-size: 18px;
    font-weight: 700;
  }
}

.load_button {
  all: unset;
  display: flex;
  align-items: center;
  gap: 16px;
  cursor: pointer;
  transition: all 0.1s ease-in-out;
  user-select: none;
  &:active {
    opacity: 0.8;
    transform: translateY(1px);
  }
}
