$bg: white;
$success: #03cea4;
$danger: #ff4242;
$info: #5a87fc;
$warning: #f89828;
$purple: #7772f1;
$primary: #ff3f3a;
$gray300: #e5e8ed;
$gray400: #d7dadd;
$gray600: #9a9ca5;
$gray700: #787a80;
$gray800: #424551;
$gray900: #1e212c;

* {
  margin: 0;
  padding: 0;
}

@mixin text-h6 {
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  color: $gray900;
}

.text {
  font-family: "Lato";
  &--regular {
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    color: $gray700;
  }

  &--h1 {
    font-weight: 900;
    font-size: 46px;
    line-height: 130%;
    color: $gray900;
  }

  &--h6 {
    @include text-h6;
  }

  &--bold {
    @include text-h6;
    font-size: 20px;
  }

  &--danger {
    color: $danger;
  }
}

.layout {
  padding-top: 50px;
  overflow-x: clip;
}

.container {
  max-width: 70%;
  margin-inline: auto;
  display: flex;
  flex-direction: column;
  gap: 80px;
  align-items: center;
  @media (max-width: 1280px) {
    max-width: 100%;
    padding: 24px;
  }
}

.headings {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  text-align: center;
}

.tabs {
  max-width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
}

.tab {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 20px;
  cursor: pointer;
  user-select: none;

  &--active {
    border-radius: 4px;
    border: 1px solid $primary;
  }

  &__text {
    @include text-h6;
    color: $gray600;

    &--active {
      color: $primary;
    }
  }
}

.cards {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(
    auto-fit,
    minmax(clamp(160px, 100%, 390px), 1fr)
  );
  grid-template-rows: auto;
  gap: clamp(20px, 2vw, 30px);
}

.card {
  width: 100%;
  height: 438px;
  display: flex;
  flex-direction: column;
  justify-self: center;
  border-radius: 4px;
  border: 1px solid $gray300;

  @media (max-width: 768px) {
    height: auto;
  }

  &__bg {
    height: 236px;
    background-position: center !important;
    background-repeat: no-repeat !important;
  }

  &:nth-child(9n + 1) {
    .card__bg {
      background: url("./assets/1.jpg") #ffcf2d;
    }
  }
  &:nth-child(9n + 2) {
    .card__bg {
      background: url("./assets/2.jpg") #ffcf2d;
    }
  }
  &:nth-child(9n + 3) {
    .card__bg {
      background: url("./assets/3.jpg") #ffcf2d;
    }
  }
  &:nth-child(9n + 4) {
    .card__bg {
      background: url("./assets/4.jpg") #ffcf2d;
    }
  }
  &:nth-child(9n + 5) {
    .card__bg {
      background: url("./assets/5.jpg") #ffcf2d;
    }
  }
  &:nth-child(9n + 6) {
    .card__bg {
      background: url("./assets/6.jpg") #ffcf2d;
    }
  }
  &:nth-child(9n + 7) {
    .card__bg {
      background: url("./assets/7.jpg") #ffcf2d;
    }
  }
  &:nth-child(9n + 8) {
    .card__bg {
      background: url("./assets/8.jpg") #ffcf2d;
    }
  }
  &:nth-child(9n + 9) {
    .card__bg {
      background: url("./assets/9.jpg") #ffcf2d;
    }
  }

  &__content {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 24px;
  }

  &__badge {
    width: fit-content;
    font-size: 14px;
    color: white;
    padding: 1px 8px;
    border-radius: 4px;

    &--green {
      background-color: $success;
    }
    &--red {
      background-color: $danger;
    }
    &--blue {
      background-color: $info;
    }
    &--orange {
      background-color: $warning;
    }
    &--purple {
      background-color: $purple;
    }
  }

  &__price {
    font-size: 18px;
    font-weight: 700;
  }
}
